<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="username">Name</label>
    <input type="text" th:field="*{username}" id="username" value="username">
    <br>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" value="password">
    <br>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" value="email">
    <br>
    <input type="submit" value="Add User">
</form>
<hr/>
<a th:href="@{/admin}">Admin Page</a>

</body>
</html>